---
import { round ***REMOVED*** from "../../utils/scoreUtils";
import { Image ***REMOVED*** from 'astro:assets';

const { name, tmdbPosterId, rank, scareScaleRating, slug, lazyLoad = false ***REMOVED*** =
  Astro.props;
const posterUrl = `https://www.themoviedb.org/t/p/w300_and_h450_bestv2${tmdbPosterId***REMOVED***`;
---

<a href=`/movie/${slug***REMOVED***` class="relative group" id={name***REMOVED***>
  <Image
  src={posterUrl***REMOVED***
  data-src={posterUrl***REMOVED***
  alt={name***REMOVED***
  width={300***REMOVED***
  height={450***REMOVED***
  class="w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75"
  loading={lazyLoad ? "lazy" : "eager"***REMOVED***
/>
  {
    rank ? (
      <span class="absolute top-0 left-0 bg-red-500 text-white text-sm font-bold flex items-center justify-center w-6 h-6 lg:w-12 lg:h-12 clip-triangle">
        {rank***REMOVED***
      </span>
    ) : <></>
  ***REMOVED***
  <div
    class="absolute bottom-0 left-0 w-full bg-black bg-opacity-60 text-white text-center sm:text-sm lg:text-lg font-semibold py-1"
  >
    {round(scareScaleRating)***REMOVED***/10
  </div>
</a>
