---
import Prose from "../Prose.astro";

const { movie } = Astro.props;
const { Content } = await movie.render();
const hasContent = movie.body && movie.body.length > 5;
---

<div class="place-items-center max-w-2xl lg:max-w-7xl px-6 lg:px-8 pt-6">
      {
        hasContent && (
          <div class="w-full rounded bg-white overflow-hidden shadow-lg">
            <div class="px-6 py-4">
              <div class="font-bold text-2xl mb-2">Scare Scale Review</div>
              <Prose textColour="black">
                <Content />
              </Prose>
            </div>
            <div class="px-6 pt-4 pb-2">
              {Object.entries(movie.data.categoryRatings).map(
                ([categoryName, score]) =>
                  score >= 6 ? (
                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                      #
                      {categoryName.charAt(0).toUpperCase() +
                        categoryName.slice(1)}
                    </span>
                  ) : null
              )}
            </div>
          </div>
        )
      }
    </div>