---
import { getCollection } from "astro:content";
import Prose from "../components/Prose.astro";
import MainLayout from "../layouts/MainLayout.astro";


export async function getStaticPaths() {
  const entries = await getCollection("page");
  return entries.map(
    (entry: { slug: any; render: Function }) => ({
      params: { slug: entry.slug },
      props: { entry },
    })
  );
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<MainLayout>
    <section class="flex flex-col items-center m-10">
      <Prose>
        <Content />
      </Prose>
    </section>
</MainLayout>
