---
import { getCollection ***REMOVED*** from "astro:content";
import Prose from "../components/Prose.astro";
import MainLayout from "../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const entries = await getCollection("page");
  return entries.map((entry) => ({
    params: { slug: entry.slug ***REMOVED***,
    props: { entry ***REMOVED***,
  ***REMOVED***));
***REMOVED***

const { entry ***REMOVED*** = Astro.props;
const { Content ***REMOVED*** = await entry.render();
---

<MainLayout>
  <section class="p-6 flex justify-center items-center">
    <div class="max-w-6xl mx-auto">
      <Prose>
        <Content />
      </Prose>
    </div>
  </section>
</MainLayout>
