---
import MainLayout from "../layouts/MainLayout.astro";
import MoviesGrid, { Sort } from "../components/grids/MoviesGrid.astro";
import { SEO } from "astro-seo";
---
<head>
  <meta charset="UTF-8" />
  <SEO
    title="Scare Scale Approved Horror Movies"
    description="Discover Scare Scale’s top tier recommended horror movies that are truly terrifying and will keep you on the edge of your seat."
    canonical="https://scarescale.com/recommended"
    openGraph={{
      basic: {
        type: "website",
        url: "https://scarescale.com/recommended",
        title: "Scare Scale - Approved Horror Movies",
        image: "https://scarescale.com/screenshots/home_page_screenshot.png",
      },
      optional: {
        description:
          "Discover Scare Scale’s top tier recommended horror movies that are truly terrifying and will keep you on the edge of your seat.",
      },
    }}
  />
</head>

<MainLayout>
  <section class="pt-10 pb-20">
    <header class="text-center px-6 lg:px-8 max-w-3xl mx-auto mb-16">
      <h1 class="text-4xl sm:text-5xl font-bold text-white mb-4">
        Scare Scale Approved
      </h1>
      <p class="text-lg text-gray-300">
        Our top tier recommended horror movies that are truly terrifying and will keep you on the edge of your seat.
      </p>
    </header>

    <div class="flex flex-col gap-y-8">
        <section class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
          <MoviesGrid
            sort={Sort.Random}
            scoreFilter={6}
          />
        </section>
    </div>
  </section>
</MainLayout>