---
import MainLayout from "../layouts/MainLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import UserReviews from "../components/UserReviews";
---

<MainLayout>
  <section class="relative flex flex-col pt-10" id="userReviews">
    <div class="relative flex flex-col gap-y-8">
      <div class="max-w-7xl mx-auto px-6 lg:px-8 w-full">
        <PageHeader title="My Reviews" accentColor="blood" />
        <UserReviews client:load />
      </div>
    </div>
  </section>
</MainLayout>