---
import MovieCard from "../components/cards/MovieCard.astro";
import { getCollection ***REMOVED*** from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";

const movies = await getCollection("movie");
---

<MainLayout>
  <section
    class="flex flex-col gap-y-10 md:gap-y-20 min-h-screen pt-10"
  >
      <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <p
          class="mx-auto m-4 max-w-lg text-center text-4xl font-semibold text-balance text-white sm:text-5xl"
        >
        Scariest Movies 2025
        </p>
        <div
          class="mt-4 grid grid-cols-4 gap-x-6 gap-y-10 sm:grid-cols-6 lg:grid-cols-10 xl:grid-cols-5 xl:gap-x-8"
        >
          {
            movies
              .filter((item) => item.data.scareScaleRating)
              .sort((a, b) => b.data.scareScaleRating - a.data.scareScaleRating)
              .slice(0, 10)
              .map((item, index) => {
                return (
                  <MovieCard {...item.data***REMOVED*** rank={index + 1***REMOVED*** slug={item.slug***REMOVED*** />
                );
              ***REMOVED***)
          ***REMOVED***
        </div>
      </div>
  </section>
</MainLayout>
