---
import MainLayout from "../layouts/MainLayout.astro";
import MoviesGrid, { Sort } from "../components/grids/MoviesGrid.astro";
import { SEO } from "astro-seo";

const grids = [
  {
    title: "All time Scariest Movies",
  },
  {
    title: "Scariest Movies 2025",
    props: {
      yearFilter: "2025",
    },
  },
  {
    title: "Scariest Movies 2024",
    props: {
      yearFilter: "2024",
    },
  },
  {
    title: "Scariest Movies 2020-2025",
    props: {
      yearFilter: ["2020", "2021", "2022", "2023", "2024", "2025"],
    },
  },
];
---

<head>
  <SEO
    title="Scare Scale - Top Horror Movie Rankings"
    description="Explore the definitive rankings of the scariest horror movies based on Gore, Creepy moments, Jumpscares, Suspense, and Psychological intensity."
    canonical="https://scarescale.com/ranks"
    openGraph={{
      basic: {
        type: "website",
        url: "https://scarescale.com/ranks",
        title: "Scare Scale - Top Horror Movie Rankings | Fear Factor Breakdown",
        image: "https://scarescale.com/assets/ranks-preview.jpg",
      },
      optional: {
        description: "Find out which horror movies rank as the scariest. From blood-curdling gore to mind-bending psychological terror, discover the top films that will haunt you.",
      }
    }}
  />
</head>

<MainLayout>
  <section class="flex flex-col gap-y-10 md:gap-y-20 pt-10">
    {
      grids.map((grid) => {
        return (
          <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
            <p class="mx-auto m-4 max-w-lg text-center text-2xl font-semibold text-balance text-white sm:text-4xl">
              {grid.title}
            </p>
            <MoviesGrid
              sort={Sort.HighestToLowestScore}
              showRank={true}
              maxCount={5}
              {...grid.props}
            />
          </div>
        );
      })
    }
  </section>
</MainLayout>
