---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import MoviesGrid, { Sort } from "../components/grids/MoviesGrid.astro";

const movieEntries = await getCollection("movie");
---

<MainLayout>
  <section
    class="flex flex-col gap-y-10 md:gap-y-20 pt-10"
  >
      <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <p
          class="mx-auto m-4 max-w-lg text-center text-4xl font-semibold text-balance text-white sm:text-5xl"
        >
        Scariest Movies 2025
        </p>
        <MoviesGrid entries={movieEntries} showRank={true} sort={Sort.HighestToLowestScore}/>
      </div>
  </section>
</MainLayout>
