---
import { getCollection ***REMOVED*** from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import MoviesGrid from "../components/grids/MoviesGrid.astro";

const movieEntries = await getCollection("movie");
---

<MainLayout>
  <section class="flex flex-col gap-y-10 md:gap-y-20 min-h-screen pt-10">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
      <p
        id="searchTermDisplay"
        class="mx-auto m-4 max-w-lg text-center text-4xl font-semibold text-balance text-white sm:text-5xl"
      >
        Search Results
      </p>
      <div id="loadingIndicator" class="text-center text-xl text-white">
        Loading...
      </div>
      <MoviesGrid
        entries={movieEntries***REMOVED***
        maxCount={-1***REMOVED***
        lazyLoad={true***REMOVED***
        hidden={true***REMOVED***
      />
    </div>
  </section>
</MainLayout>

<script>
  const params = new URLSearchParams(window.location.search);
  const q = params.get("q");
  const moviesContainer = document.getElementById("moviesContainer");
  const loadingIndicator = document.getElementById("loadingIndicator");

  // Handle blank search
  if (!q && moviesContainer && loadingIndicator) {
    loadingIndicator.style.display = "none";
    moviesContainer.style.display = "block";
    moviesContainer.innerHTML =
      '<p class="text-center text-xl text-white">No Results</p>';
  ***REMOVED***

  if (q && moviesContainer && loadingIndicator) {
    // Show loading indicator, hide moviesContainer
    loadingIndicator.style.display = "block";
    moviesContainer.style.display = "none";

    setTimeout(() => {
      const allMovies = document.querySelectorAll<HTMLElement>(
        "#moviesContainer > *"
      );
      let hasResults = false;

      allMovies.forEach((movie) => {
        const title = movie.getAttribute("id")?.toLowerCase();
        const img = movie.querySelector(".lazy-load");

        if (title && title.includes(q.toLowerCase())) {
          movie.style.display = "block";
          hasResults = true;

          // Load images AFTER filtering
          if (img && img.getAttribute("data-src")) {
            img.setAttribute("src", img.getAttribute("data-src") || "");
          ***REMOVED***
        ***REMOVED*** else {
          movie.style.display = "none";
        ***REMOVED***
      ***REMOVED***);

      // Hide loader, reveal moviesContainer
      loadingIndicator.style.display = "none";
      moviesContainer.style.display = "grid";

      // Show "No Results" message if nothing matches
      if (!hasResults) {
        loadingIndicator.style.display = "none";
        moviesContainer.style.display = "block";
        moviesContainer.innerHTML =
          '<p class="text-center text-xl text-white">No Results</p>';
      ***REMOVED***
    ***REMOVED***, 400); // Simulated delay
  ***REMOVED***
</script>
