---
import MainLayout from "../layouts/MainLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import SearchResults from "../components/SearchResults";
---
<MainLayout>
  <section class="pt-10 pb-20">
    <PageHeader accentColor="blood">
      <Fragment slot="title">Search Results</Fragment>
      <Fragment slot="description">Find your favourite horror movies</Fragment>
    </PageHeader>

    <div class="max-w-screen-2xl mx-auto">
      <SearchResults client:load />
    </div>
  </section>
</MainLayout>
