---
import MovieCard from "../components/cards/MovieCard.astro";
import { getCollection ***REMOVED*** from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";

const movies = await getCollection("movie");
---

<MainLayout>
  <section
    class="min-h-screen p-10"
  >
        <div
          class="mt-4 grid grid-cols-2 gap-x-6 gap-y-10 sm:grid-cols-4 lg:grid-cols-5 xl:grid-cols-5 xl:gap-x-8"
        >
          {
            movies
              .filter((item) => !item.data.scareScaleRating)
              .map((item) => {
                return (
                  <MovieCard {...item.data***REMOVED*** slug={item.slug***REMOVED*** />
                );
              ***REMOVED***)
          ***REMOVED***
      </div>
  </section>
</MainLayout>
