---
// BackgroundIcons.astro
---

<div id="background-icons" class="fixed inset-0 z-10 pointer-events-none"></div>

<script>
  const icons = [
    `<svg width="80" height="80" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M22 19.2058V12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12V19.2058C2 20.4896 3.35098 21.3245 4.4992 20.7504C5.42726 20.2864 6.5328 20.3552 7.39614 20.9308C8.36736 21.5782 9.63264 21.5782 10.6039 20.9308L10.9565 20.6957C11.5884 20.2744 12.4116 20.2744 13.0435 20.6957L13.3961 20.9308C14.3674 21.5782 15.6326 21.5782 16.6039 20.9308C17.4672 20.3552 18.5727 20.2864 19.5008 20.7504C20.649 21.3245 22 20.4896 22 19.2058ZM16 10.5C16 11.3284 15.5523 12 15 12C14.4477 12 14 11.3284 14 10.5C14 9.67157 14.4477 9 15 9C15.5523 9 16 9.67157 16 10.5ZM9 12C9.55228 12 10 11.3284 10 10.5C10 9.67157 9.55228 9 9 9C8.44772 9 8 9.67157 8 10.5C8 11.3284 8.44772 12 9 12Z" fill="red"/></svg>`,
    `<svg width="80" height="80" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><path d="M88.04 44.26C75.44 28.81 69.87 15.67 66.68 7.83c-1.01-2.47-4.36-2.47-5.36 0c-3.19 7.84-8.76 20.98-21.36 36.43c-7.89 9.68-15.67 23.85-15.67 37.81c0 23.82 17.19 39.95 39.71 39.95s39.71-16.14 39.71-39.95c0-14.51-7.78-28.13-15.67-37.81z" fill="red"/><path d="M74.98 79.84c6.35-12.08 5.45-23.9 10.47-21.77c6.82 2.91 14.37 17.86 11.54 31.41c-2.02 9.66-8.54 15.51-16.85 12.72c-6.71-2.25-10.88-11.48-5.16-22.36z" fill="red"/></svg>`,
    `<svg width="80" height="80" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><g><path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M170.667,128 c35.285,0,64,28.715,64,64c0,11.776-9.557,21.333-21.333,21.333C201.558,213.333,192,203.776,192,192 c0-11.755-9.579-21.333-21.333-21.333c-11.755,0-21.333,9.579-21.333,21.333c0,11.776-9.557,21.333-21.333,21.333 s-21.333-9.557-21.333-21.333C106.667,156.715,135.381,128,170.667,128z M384,405.333H128c-11.776,0-21.333-9.557-21.333-21.333 c0-79.552,69.781-149.333,149.333-149.333S405.333,304.448,405.333,384C405.333,395.776,395.776,405.333,384,405.333z M384,213.333c-11.776,0-21.333-9.557-21.333-21.333c0-11.755-9.579-21.333-21.333-21.333C329.579,170.667,320,180.245,320,192 c0,11.776-9.557,21.333-21.333,21.333s-21.333-9.557-21.333-21.333c0-35.285,28.715-64,64-64c35.285,0,64,28.715,64,64 C405.333,203.776,395.776,213.333,384,213.333z"/></g></g></svg>`,
    `<svg width="80" height="80" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="M288.8,0.457C178.31-6.342,85.278,63.166,87.382,176.416l-0.084,10.25l-48.003,84.767 c-2.582,4.567-2.812,10.097-0.613,14.876c2.181,4.78,6.535,8.213,11.682,9.218l29.666,8.188l9.312,89.896 c0.256,8.656,4.107,16.802,10.634,22.51c6.535,5.674,15.166,8.376,23.771,7.412l23.694,1.892c4.618-0.519,9.254,0.954,12.712,4.056 c3.468,3.11,5.445,7.548,5.445,12.2V512h200.419c0,0,0-33.936,0-47.602c0-13.666,4.712-44.909,13.675-59.206 c32.488-51.948,85.381-79.587,94.301-186.14C482.914,112.515,419.328,8.5,288.8,0.457z M426.954,198.585 c-9.832,0-20.099,0-20.099,0c-4.89-0.008-8.861-3.978-8.87-8.869v-12.38c0-4.533-3.689-8.222-8.222-8.222 c-4.541,0-8.23,3.689-8.23,8.222v12.38c0.008,13.99,11.34,25.314,25.322,25.322c0.025,0,8.384,0,17.245,0 c-9.449,38.996-35.478,53.685-61.575,38.945c-17.007-9.619-15.559-23.976-23.49-35.887v-43.504c0-4.533-3.69-8.222-8.231-8.222 s-8.222,3.69-8.222,8.222v30.604c-11.809-5.06-30.613-8.307-62.01-8.307c-8.503,0-16.35-0.068-23.669-0.205v-33.049 c0-4.55-3.689-8.231-8.23-8.231c-4.542,0-8.222,3.681-8.222,8.231v32.598c-66.534-2.59-76.315-13.283-81.546-40.172 c-0.213-1.602-0.366-3.186-0.503-4.763h34.924c16.563,0,29.991-13.428,29.991-29.982v-12.951c0-4.541-3.688-8.222-8.231-8.222 c-4.541,0-8.221,3.681-8.221,8.222v12.951c-0.017,7.472-6.066,13.522-13.539,13.538h-34.967 c2.011-22.885,12.823-41.595,29.625-58.704c12.84-13.096,28.679-23.243,46.648-30.136c0,10.634,0,21.011,0,25.178 c0.05,7.055,2.522,14.246,7.276,20.362c2.385,3.034,5.419,5.778,9.125,7.771c3.68,2.01,8.068,3.22,12.746,3.212 c13.214,0,26.438,0,26.438,0c4.541,0,8.222-3.689,8.222-8.222c0-4.541-3.681-8.23-8.222-8.23c0,0-13.224,0-26.438,0 c-1.926-0.009-3.468-0.452-4.933-1.236c-2.173-1.159-4.201-3.297-5.632-5.922c-1.423-2.59-2.156-5.624-2.131-7.736 c0-4.848,0-18.105,0-30.392c13.641-3.527,28.202-5.393,43.428-5.393c3.868,0,7.787,0.119,11.707,0.366 c34.506,2.122,64.378,12.942,87.774,31.532v72.328c0,4.55,3.69,8.238,8.231,8.238c4.541,0,8.221-3.689,8.221-8.238V82.822 c0.436,0.485,0.887,0.954,1.321,1.448c23.567,27.273,36.27,64.906,35.938,104.823C427.542,192.392,427.278,195.526,426.954,198.585 z"/><path d="M322.582,86.171c-4.541,0-8.23,3.689-8.23,8.23v26.583c-0.009,5.742-4.66,10.428-10.421,10.437h-29.335 c-4.541,0-8.222,3.672-8.222,8.214c0,4.55,3.681,8.238,8.222,8.238h29.335c14.851-0.025,26.873-12.039,26.873-26.889V94.401 C330.804,89.86,327.123,86.171,322.582,86.171z"/></g></svg>`,
    `<svg width="80" height="80" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="M329.364,237.908l42.558-39.905c25.236-23.661,39.552-56.701,39.552-91.292V49.156 c0.009-13.514-5.53-25.918-14.402-34.754C388.235,5.529,375.833-0.009,362.318,0H149.681c-13.514-0.009-25.926,5.529-34.763,14.401 c-8.871,8.837-14.41,21.24-14.392,34.754v57.554c0,34.591,14.315,67.632,39.552,91.292l42.55,39.888 c2.342,2.205,3.678,5.271,3.678,8.492v19.234c0,3.221-1.336,6.279-3.669,8.476l-42.558,39.905 c-25.237,23.652-39.552,56.701-39.552,91.292v57.554c-0.018,13.515,5.522,25.918,14.392,34.755 c8.838,8.871,21.249,14.41,34.763,14.401h212.636c13.515,0.009,25.918-5.53,34.755-14.401c8.871-8.838,14.41-21.24,14.402-34.755 V405.29c0-34.591-14.316-67.64-39.552-91.292l-42.55-39.897c-2.352-2.205-3.678-5.263-3.678-8.484v-19.234 C325.694,243.162,327.021,240.096,329.364,237.908z M373.946,462.844c-0.009,3.273-1.274,6.056-3.411,8.218 c-2.162,2.136-4.944,3.402-8.218,3.41H149.681c-3.273-0.009-6.064-1.274-8.226-3.41c-2.136-2.162-3.393-4.945-3.402-8.218V405.29 c0-24.212,10.026-47.356,27.691-63.91l42.55-39.906c9.914-9.285,15.539-22.273,15.539-35.857v-19.234 c0-13.592-5.625-26.58-15.547-35.866l-42.542-39.896c-17.666-16.554-27.691-39.69-27.691-63.91V49.156 c0.009-3.273,1.266-6.055,3.402-8.226c2.162-2.127,4.953-3.394,8.226-3.402h212.636c3.273,0.008,6.056,1.274,8.218,3.402 c2.136,2.171,3.402,4.952,3.411,8.226v57.554c0,24.22-10.026,47.356-27.692,63.91l-42.55,39.896 c-9.914,9.286-15.538,22.274-15.538,35.866v19.234c0,13.584,5.625,26.572,15.547,35.874l42.541,39.88 c17.666,16.563,27.692,39.707,27.692,63.919V462.844z"/><path d="M237.261,378.95l-77.33,77.33h192.128l-77.33-77.33C264.385,368.614,247.615,368.614,237.261,378.95z"/></g></svg>`
  ];

  function generateIcons() {
    const container = document.getElementById('background-icons');
    if (!container) return;
    container.innerHTML = '';
    const numIcons = window.innerWidth < 768 ? 5 : 10;
    const positions: {x: number, y: number}[] = [];
    for (let i = 0; i < numIcons; i++) {
      let x: number, y: number, attempts = 0;
      do {
        x = Math.random() * (window.innerWidth - 150);
        y = Math.random() * (window.innerHeight - 150);
        attempts++;
        if (attempts > 100) break; // prevent infinite loop
      } while (positions.some(p => Math.sqrt((p.x - x) ** 2 + (p.y - y) ** 2) < 200));
      positions.push({ x, y });
      const iconHtml = icons[Math.floor(Math.random() * icons.length)];
      const div = document.createElement('div');
      div.innerHTML = iconHtml;
      div.style.position = 'absolute';
      div.style.left = x + 'px';
      div.style.top = y + 'px';
      const opacity = 0.07;
      const svg = div.querySelector('svg');
      if (svg) {
        svg.style.opacity = opacity.toString();
        svg.style.fill = 'red';
      }
      container.appendChild(div);
    }
  }

  window.addEventListener('load', generateIcons);
  window.addEventListener('resize', generateIcons);
</script>
