---
const { textColour = "white" } = Astro.props;
---

<div
  class=`prose-sm
  md:prose-lg
  lg:prose-xl
  prose-h1:font-bold
  prose-h2:font-bold
  prose-h1:text-2xl
  prose-h2:text-xl
  prose-img:rounded-xl
  prose-img:max-h-96
  text-${textColour}
  `
>
  <slot />
</div>
