---
const version = "1.0.0";
const githubRepo = "ScareScale"; 
const githubUrl = "https://github.com/4164616d/ScareScale";
---

<footer class="bg-gray-800 text-white p-4 border-t-2 border-[#d60c16]">
  <div class="container mx-auto flex items-center justify-center space-x-6">
    <p class="text-sm">Version {version}</p>
    <p class="text-sm">&copy; {new Date().getFullYear()} Scare Scale. All rights reserved.</p>
    <a
      href={githubUrl}
      class="flex items-center space-x-2 text-sm hover:text-gray-400 transition duration-300"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/icons/github.svg" alt="GitHub Logo" class="h-4 w-4" />
      <span>{githubRepo}</span>
    </a>
  </div>
</footer>
