---
import { movies as allMovies } from "../../lib/movies";
import type { Movie } from "../../models/Movie";
import { isSimilarMovie } from "../../utils/comparisonUtils";
import MovieCard from "../cards/MovieCard.astro";

export enum Sort {
  Random,
  HighestToLowestScore,
  ReleaseDateDecending,
  ReleaseDateAscending,
  Gore,
  Creepy,
  Jumpscares,
  Suspense,
  Psychological
}

const { showAll = false, maxCount = 1000000, showRank = false, sort = Sort.Random, lazyLoad = false, hidden = false, yearFilter = undefined, scoreFilter = 0, similar = undefined, movies = allMovies.getAll()} = Astro.props;

const filterMovie = (movie: Movie) => {
  if (showAll) {
    return true;
  }

  // Filter out movies without ratings
  if (movie.getPriorityReview().overallRating == 0) {
    return false;
  }

  if (yearFilter) {
    if (!yearFilter.includes(String(movie.releaseYear))) {
        return false;
    }
  }

  if (scoreFilter > 0) {
    if (movie.getPriorityReview().overallRating < scoreFilter) {
      return false;
    }
  }

  if (similar) {
    if (!isSimilarMovie(movie, similar)) {
      return false;
    }
  }

  return true;
};

const getSortMethod = () => {
    if (sort == Sort.HighestToLowestScore) {
        return (a: Movie, b: Movie) => b.getPriorityReview().overallRating - a.getPriorityReview().overallRating;
    }

    if (sort == Sort.ReleaseDateDecending) {
        return (a: Movie, b: Movie) => b.releaseDateParsed.getTime() - a.releaseDateParsed.getTime();
    }

    if (sort == Sort.ReleaseDateAscending) {
        return (a: Movie, b: Movie) => a.releaseDateParsed.getTime() - b.releaseDateParsed.getTime();
    }
    
    if (sort == Sort.Gore) {
        return (a: Movie, b: Movie) => b.getPriorityReview().categories.gore - a.getPriorityReview().categories.gore;
    }
    
    if (sort == Sort.Creepy) {
        return (a: Movie, b: Movie) => b.getPriorityReview().categories.creepy - a.getPriorityReview().categories.creepy;
    }
    
    if (sort == Sort.Jumpscares) {
        return (a: Movie, b: Movie) => b.getPriorityReview().categories.jumpscares - a.getPriorityReview().categories.jumpscares;
    }
    
    if (sort == Sort.Suspense) {
        return (a: Movie, b: Movie) => b.getPriorityReview().categories.suspense - a.getPriorityReview().categories.suspense;
    }
    
    if (sort == Sort.Psychological) {
        return (a: Movie, b: Movie) => b.getPriorityReview().categories.psychological - a.getPriorityReview().categories.psychological;
    }

    // Sort randomly
    return () => Math.random() - 0.5;
}

const sortMethod = getSortMethod()

const optionalClasses = `${hidden ? " hidden " : ""}`
---

<div
  id="moviesContainer"
  class={"mb-8 grid grid-cols-3 gap-3 xl:grid-cols-5" + optionalClasses}
>
  {
    movies
      .filter(filterMovie)
      .sort(sortMethod)
      .slice(0, maxCount)
      .map((movie: Movie, index: number) => {
        return (
          <MovieCard
            movie={movie}
            rank={showRank ? index + 1 : undefined}
            lazyLoad={lazyLoad}
          />
        );
      })
  }
</div>
